<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScreenWidth" value="1280"/>

    <add key="ScreenHeight" value="720"/>
    
    <!-- Path to portalble disk with games to load -->
    <add key="PortablePath" value="C:\Users\Pontus.Persson1\Desktop\Games\"/>

    <!-- Path to games -->
    <add key="GamePath" value="Games\"/>
  </appSettings>
</configuration>