<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScreenWidth" value="1920"/>

    <add key="ScreenHeight" value="1080"/>
    
    <!-- Path to portalble disk with games to load -->
    <add key="PortablePath" value="C:\Users\Pontus.Persson1\Desktop\PP_OS\Games\"/>

    <!-- Path to games -->
    <add key="GamePath" value="Games\"/>

    <!-- Dark theme, White theme -->
    <add key="Theme" value="Dark"/>
  </appSettings>
</configuration>